body {background: lightsteelblue;
    color: black;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;}
background: lightblue}
a { color: darkblue;
    text-decoration: none }
a:hover { color: blue }